header{
    height: 100%;
    width: 100%;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(19, 18, 18, 0.781) 95.24%, rgba(28, 28, 28, 0.4)),
    url(../img/header.jpg) center center /cover no-repeat;
}

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 380px;
        width: 370px;
    }

    .mapouter {
                            
                            
        height: 380px;
        width: 370px;
    }

    .titre-article{
        padding-left: 2vw;
    }

    #container-map{
        padding-left: 4vw;
    }


@media only screen and (min-width: 600px ) {

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 380px;
        width: 573px;
    
}
.mapouter {
                            
                            
    height: 380px;
    width: 573px;
}
}

@media only screen and (max-width: 995.5px ) {
    aside{
        display: none;
    }
}

@media only screen and (min-width: 998px ) {

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 380px;
        width: 800px;
    
}
.mapouter {
                            
                            
    height: 380px;
    width: 800px;
}

#container{
    display: flex ;
    justify-content: space-around;
    align-items: center;
}
}


@media only screen and (min-width: 990px) {
        
    
aside{
    display: flex;
    flex-flow: column ;
    justify-content: flex-start;
   
}

.aside{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

#recherche{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

#Newsletter{
    display: flex;
    flex-flow: column wrap;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 380px;
    width: 800px;

}
.mapouter {
                        
                        
height: 380px;
width: 800px;
}

}

@media only screen and (min-width: 1200px){

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 380px;
        width: 900px;
    
    }
    .mapouter {
                            
                            
    height: 380px;
    width: 900px;
    padding-bottom: 2vh;
    }
    
}