@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200&display=swap');




/* NAV */

#brand{
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: space-between;
    
}

#email-bar{
    border: gray  2px ;
    
}

#email-bar{
    font-family: 'Oswald', 'sans serif';
}

#search-bar{
    font-family: 'Oswald', 'sans serif';
}
_____________________________________


/* FOOTER */

.subscribe-foot{
    font-family: 'Oswald', 'sans serif';
    background-color: black;
    color: white;
    border: white 2px solid;
   
    
}

footer{
    background-color: black;
    width: 100%;
    height: 100%;
}

.titre-foot{
    color: white;
    font-family: 'Courgette', cursive;
}

.btn-foot{
    color: white;
    list-style: none;
    
}

.icon-foot{
    display: flex;
   flex-direction: row;
    padding-top: 1vh;
    padding-bottom: 10vh;
   
}

.news{
    display: flex;
    flex-direction: column;
}
___________________________________

.subscribe-side{
    font-family: 'Oswald', 'sans serif';
    background-color:white;
    color: black;
    height: 4vh;
    border: 2px solid;
    
}

/* Classe */

::selection{
    color:white;
    background-color: gray;
}
_____________________________________

.img-head{
    width: 15rem;
    height: 15rem;
}


body{
    margin: 0;
    
    
    
   
}
#icon{
    color: black;
}

/* TITRE */

.titre{
    color: white;
    padding: 2vh;
    margin: 2vh;
}

.titre-article{
    font-family: 'Courgette' , 'cursive';
}

ul{
    text-decoration: none;
}

a{
    text-decoration: none;
    font-family: 'Oswald', 'sans serif';
    color: black;
    
    
}

i{
    text-decoration: none;
    color: black;
    
}

i.foot{
  background: white;
  padding: 1vh;
  margin: 1vh;
}

i.share{
    padding: 1vw;
    
}

p.font{
    font-family: 'Oswald', 'sans serif';
}



#text-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courgette', 'cursive';
}



/* Media-Query */

@media only screen and (max-width: 991px){
    .titre-head{
        padding: 8vw;
    } 

    #foot{
        padding-left: 3vw;
        padding-top: 1vh;
    }
    
    .subscribe-foot{
        width: 20vw;
        
    }
    #mail-foot{
        width: 40vw;
    }
    
}

@media only screen and (min-width: 992px) {
    .titre-head{
        padding: 4vw;
    }

    

    

    #search-bar{
        border: solid 1px;
    }

    #email-bar{
        border: solid 1px;
    }

    #foot{
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1100px){
    .subscribe-side{
        width: 13vw;
    }
}

@media only screen and (min-width: 1300px){
    .subscribe-side{
        width: 12vw;
    }
}

@media only screen and (min-width: 1400px){
   .subscribe-side{
    width: 11vw;
}
}

@media only screen and (min-width: 1600px){
    .subscribe-side{
        width: 10vw;
    }
}

@media only screen and (min-width: 1800px){
    .subscribe-side{
        width: 8vw;
    }
}


