header{
    
    background-image:url(/img/articles/suzette/suzette-header.jpg);
    height: 50rem;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.9));}

    #text-head{
        background-color: black;
        color: white;
    }

    #email-com{
        font-family: 'Oswald', 'sans serif';
    }

    #nom-com{
        font-family: 'Oswald', 'sans serif';

    }