header{
    
    height: 100%;
    width: 100%;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(19, 18, 18, 0.781) 95.24%, rgba(28, 28, 28, 0.4)),
    url(../img/team/team.jpg) center center /cover no-repeat;
}

img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
 }

 .img-head{
     visibility: hidden;
 }

 #equipe{
     display: flex;
     flex-flow:column wrap ;
     justify-content: space-around;
     align-items: center;
 }

 #equipe-2{
    display: flex;
    flex-flow:column wrap ;
    justify-content: space-around;
    align-items: center;
}

 .img-team{
     height: 25vh;
     width: 25vw;
 }

/* MEDIA-QUERY */

 @media only screen and (max-width: 992px) {

    aside{
        display: none;
    }
     
 }

 @media only screen and (min-width: 992px){
    #equipe{
        flex-flow:column-reverse ;
        

    }

    #container-team{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        
    }
 }