.img-team:hover{
    height:25vh ;
    transition: 0.5s;
    
}

header{
    
    height: 100%;
    width: 100%;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(19, 18, 18, 0.781) 95.24%, rgba(28, 28, 28, 0.4)),
    url(../img/team/team.jpg) center center /cover no-repeat;
    padding-bottom: 60vh;
}

#container{
    padding-bottom: 10vh;
    padding-top: 10vh;
}

#text-head{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courgette', 'cursive';
}


img{
    
    border-radius: 50%;
 }

 .img-head{
     visibility: hidden;
 }

 #equipe{
     display: flex;
     flex-flow:column wrap ;
     justify-content: space-around;
     align-items: center;
 }

 #equipe-2{
    display: flex;
    flex-flow:column wrap ;
    justify-content: space-around;
    align-items: center;
}

 .img-team{
     height: 20vh;
     
 }

 .img-team:hover{
    height: 25vh;
    width: 11vw;
    
}

.img-team{
    transition: 1s;
}

/* MEDIA-QUERY */

 @media only screen and (max-width: 992px) {

    aside{
        display: none;
    }
     
 }

 @media only screen and (min-width: 768px){
    
    

    #container{
        display: flex;
        justify-content: space-around;

        
    }
    
    #equipe{
        display: flex;
        flex-flow:column-reverse ;
        padding-right: 10vw;
        justify-content: space-around;
        

    }

    #container-team{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        width: 100%;
    }

    
 }

 @media only screen and (min-width: 992px) {
    aside{
        display: initial;
        }

    #equipe{
        display: flex;
        flex-flow:row wrap ;
        padding-right: 0vw;
        
    
    }

    #equipe-2{
        display: flex;
        flex-flow:row-reverse ;
        
        
        
        
    }

    #container-team{
        display: flex;
        flex-flow: column wrap;
    }

    .team{
        padding: 3vw;
    }
 }


 @media only screen and (min-width: 1800px) {
     
 }